@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --primary: 267 51% 70%;
    --primary-foreground: 0 0% 98%;

    --secondary: 207 50% 60%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;

    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 240 10% 98%;

    --muted: 240 4.8% 20%;
    --muted-foreground: 240 3.8% 80%;

    --popover: 0 0% 20%;
    --popover-foreground: 240 10% 98%;

    --border: 240 5.9% 30%;
    --input: 240 5.9% 30%;

    --card: 240 5% 20%;
    --card-foreground: 240 10% 98%;

    --primary: 267 51% 17%;
    --primary-foreground: 0 0% 98%;

    --secondary: 207 50% 75%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 10% 90%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 55%;
    --destructive-foreground: 0 0% 98%;

    --info: 204 94% 80%;
    --info-foreground: 199 89% 48%;

    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 240 5.9% 10%;
  }

  * {
    @apply border-border;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 16px);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
